<div class="columns is-mobile is-centered">
  <div class="column" style="max-width: 500px">
    <h2 class="title has-text-centered"><%= t(".sign_up") %></h2>

    <div class="box">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="is-flex is-flex-direction-column is-align-items-center" data-controller="preview">
          <% size = 128 %>
          <%= tag.figure(class: "image is-#{size}x#{size} mb-2") do %>
            <%= image_tag resource.avatar_path(:profile),
                          class: "is-rounded",
                          style: "width: #{size}px; height: #{size}px",
                          data: {preview_target: :preview} %>
          <% end %>

          <%= f.input :avatar, file_html: {class: "is-small"} %>
        </div>

        <%= f.input :name %>
        <%= f.input :email, autofocus: true %>
        <%= f.input :password, input_html: {autocomplete: "new-password"} %>
        <%= f.input :password_confirmation, input_html: {autocomplete: "new-password"} %>

        <%= f.input :time_zone, select_html: {class: "is-fullwidth"}, selected: "UTC" %>

        <div class="field pt-4">
          <%= f.button :submit, t(".sign_up"), class: "is-primary is-fullwidth" %>
        </div>
      <% end %>
    </div>

    <div class="box has-text-centered">
      <%= t(".already_have_an_account") %>
      <%= link_to t("devise.shared.links.sign_in"), new_session_path(resource) %>
    </div>

    <div class="box has-text-centered">
      <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource) %>
    </div>
  </div>
</div>
