<div class="is-overlay is-flex is-justify-content-flex-end <%= local_assigns[:margin] || "mt-3 mr-4" %>" style="max-height: fit-content">
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <%= icon "fas fa-ellipsis", class: "is-clickable" %>
    </div>

    <div class="dropdown-menu">
      <div class="dropdown-content">
        <%= link_to edit_object_path(object), class: "dropdown-item" do %>
          <span class="icon-text">
            <%= icon "fas fa-pencil" %>
            <span><%= t("shared.links.edit") %></span>
          </span>
        <% end %>

        <%= link_to object_path(object), class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <span class="icon-text has-text-danger">
            <%= icon "far fa-trash-can" %>
            <span><%= t("shared.links.delete") %></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
