<%= render "accountings/form", accounting: @accounting %>

<div class="columns is-mobile is-centered">
  <div class="column" style="max-width: 800px">
    <%= turbo_frame_tag :results do %>
      <%# Hack: re-render the form itself when the "results" frame is updated on the form submission. %>
      <%# Used because turbo doesn't allow multiple frames to be specified in the "data-turbo-frame" attribute (on the form submit button) %>
      <%= turbo_stream.replace @accounting, render("accountings/form", accounting: @accounting) if @accounting.errors.any? %>

      <div class="is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
        <div class="card my-2 has-background-grey-lighter" style="width: 220px">
          <div class="card-content">
            <p class="title is-5"><%= t(".funds") %></p>
            <p><%= @total_funds.format %></p>
          </div>
        </div>

        <div class="card my-2 has-background-success-light" style="width: 220px">
          <div class="card-content">
            <p class="title is-5"><%= t(".incomes") %></p>
            <p><%= @incomes_amount.format %></p>
          </div>
        </div>

        <div class="card my-2 has-background-danger-light" style="width: 220px">
          <div class="card-content">
            <p class="title is-5"><%= t(".expenses") %></p>
            <p><%= @expenses_amount.format %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
