<div class="columns is-mobile is-centered">
  <div class="column" style="max-width: 500px">
    <h2 class="title has-text-centered"><%= t(".sign_in") %></h2>

    <div class="box">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, autofocus: true %>

        <%= f.input :password,
                    hint: link_to(t("devise.shared.links.forgot_your_password"), new_password_path(resource)),
                    hint_html: {class: "has-text-right"} %>

        <%= f.input :remember_me, as: :boolean, inline_label: true %>

        <div class="field pt-4">
          <%= f.button :submit, t(".sign_in"), class: "is-primary is-fullwidth" %>
        </div>
      <% end %>
    </div>

    <div class="box has-text-centered">
      <%= t(".dont_have_an_account") %>
      <%= link_to t("devise.shared.links.sign_up"), new_registration_path(resource) %>
    </div>

    <div class="box has-text-centered">
      <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource) %>
    </div>
  </div>
</div>
