<div class="p-3">
  <% url = transaction.new_record? ? transactions_path : transaction_path(transaction) %>
  <%= simple_form_for(transaction, as: :transaction, url:) do |f| %>
    <%= f.error_notification %>

    <% if transaction.new_record? %>
      <%= f.input :type, as: :hidden %>
      <%= f.input :source_type, as: :hidden, input_html: {value: transaction.is_a?(Income) ? "Category" : "Account"} %>
      <%= f.input :destination_type, as: :hidden, input_html: {value: transaction.is_a?(Income) ? "Account" : "Category"} %>
    <% end %>

    <div class="is-flex">
      <div class="field is-flex-grow-1 is-flex-shrink-1">
        <% sources = transaction.possible_sources %>
        <%= f.association :source,
                          required: true,
                          wrapper: :select_control,
                          select_html: {class: "is-fullwidth"},
                          collection: sources %>
        <%= f.error :source %>
      </div>

      <div class="field is-align-self-center mx-1">
        <%= icon "fas fa-arrow-right", class: "has-text-dark" %>
      </div>

      <div class="field is-flex-grow-1 is-flex-shrink-1">
        <% destinations = transaction.possible_destinations %>
        <%= f.association :destination,
                          required: true,
                          wrapper: :select_control,
                          select_html: {class: "is-fullwidth"},
                          collection: destinations %>
        <%= f.error :destination %>
      </div>
    </div>

    <%= f.input :amount, as: :money, input_html: {min: 0} %>
    <%= f.input :committed_date, html5: true, input_html: {class: "is-fullwidth"} %>
    <%= f.input :comment %>

    <div class="field pt-4">
      <%= f.button :submit, class: "is-primary is-fullwidth" %>
    </div>
  <% end %>
</div>
