<%= turbo_frame_tag account do %>
  <div class="card" style="width: 250px">
    <div class="card-content p-3">
      <%= simple_form_for(account) do |f| %>
        <%= f.input :name, label_html: {class: "is-sr-only"}, placeholder: "Account name", autofocus: true %>

        <div class="field">
          <%= f.label :balance, class: "is-sr-only", required: true %>
          <div class="field has-addons mb-0">
            <% if account.new_record? %>
              <%= f.input :currency,
                          wrapper: :select_control,
                          collection: Money::Currency.all,
                          selected: "USD",
                          label_method: :symbol,
                          value_method: :to_s %>
            <% else %>
              <div class="control">
                <%= f.button :button, account.currency.symbol, class: "is-static has-text-dark" %>
              </div>
            <% end %>

            <%= f.input :balance,
                        as: :money,
                        wrapper: :control,
                        wrapper_html: {class: "is-expanded"} %>
          </div>
          <%= f.error :balance %>
          <%= f.full_error :currency %>
        </div>

        <div class="field is-grouped">
          <%= f.button :submit, class: "is-primary is-fullwidth" %>
          <% path = account.new_record? ? offer_new_account_path : account_path(account) %>
          <%= link_to t("shared.links.cancel"), path, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
